table {
    width: auto;
    text-align: center;
}

.icon-view {
    height: 16px;
    width: 16px;
    background-image: url("../../Images/icon/view.png");
    background-repeat: no-repeat;
    border: none !important;
    background-color: transparent;
    margin-top: 5px;
}

.icon-edit {
    height: 16px;
    width: 16px;
    background-image: url("../../Images/icon/edit.png");
    background-repeat: no-repeat;
    border: none !important;
    background-color: transparent;
    margin-top: 5px;
}

.icon-delete {
    height: 16px;
    width: 16px;
    background-image: url("../../Images/icon/delete.png");
    background-repeat: no-repeat;
    border: none !important;
    background-color: transparent;
    margin-top: 5px;
}

.icon-edit, .icon-delete, .icon-view:hover{
    cursor: pointer;
}

.button {
    height: 25px;
    width: 120px;
    background-color: #fff;
    font-size: 12px;
    color: #2b579a;
    font-weight: bold;
    border: 1px solid #2b579a;
}

    .button:hover {
        cursor: pointer;
        background-color: #2b579a;
        color: #fff;
    }

.ui-dialog-titlebar
{
    color: #fff !important;
    background: #2b579a !important;
    border-radius: 0px !important;
    height: 35px;
    text-align: center; 
    padding-top: 5px;
    height: 20px;
    font-size: 12px;
}

.ui-dialog {
    border-radius: 0px !important;
    position: absolute !important;
}

.label_dialog {
    padding-left: 5px;
}

/*Div Pager*/
.div_pager
{
    height: 40px !important;
}

.ui-jqgrid .ui-pager-control
{
    padding-top: 5px !important;
}

.ui-state-default, .ui-widget-header
{
    background: #2b579a !important;
    color: #fff !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl
{
    border-radius: 0 !important;
}

.ui-jqgrid .ui-jqgrid-bdiv
{
    overflow-y: scroll !important;
    overflow-wrap: break-word;
}

.ui-pg-input{
    width: auto !important;
}

.ui-jqgrid-view, .ui-jqgrid-bdiv{
    height: 350px !important;
}