table {
    width: 100%;
    text-align: center;
}

th {
    background-color: #007233;
    color: #fff;
    font-weight: 500;
    border: 1px solid #ddd;
}

td {
    border: 1px solid #ddd;
}

.icon-edit {
    height: 16px;
    width: 16px;
    background-image: url("../../Images/icon/edit.png");
    background-repeat: no-repeat;
    border: none !important;
    background-color: transparent;
    margin-top: 5px;
}

.icon-delete {
    height: 16px;
    width: 16px;
    background-image: url("../../Images/icon/delete.png");
    background-repeat: no-repeat;
    border: none !important;
    background-color: transparent;
    margin-top: 5px;
}

.button {
    height: 30px;
    width: 120px;
    background-color: #fff;
    font-size: 12px;
    color: #007233;
    font-weight: bold;
    border: 1px solid #007233;
}

    .button:hover {
        cursor: pointer;
        background-color: #007233;
        color: #fff;
    }
