@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}

<ul class="nav">

    <li class="home_current"><a href="http://danangz.com/"></a></li>

    <li><a class="fist" href="http://danangz.com/tin-tuc/bao-da-nang.html">Toàn Cảnh</a></li>


    <li><a href="http://danangz.com/tin-tuc/mon-ngon-da-nang.html">Ẩm Thực</a></li>


    <li><a href="http://danangz.com/tin-tuc/du-lich-da-nang.html">Khám Phá</a></li>


    <li><a href="http://danangz.com/tin-tuc/bao-cong-an-da-nang.html">An Ninh</a></li>


    <li><a href="http://danangz.com/tin-tuc/su-kien-da-nang.html">Sự Kiện</a></li>


    <li><a href="http://danangz.com/tin-tuc/khuyen-mai-da-nang.html">Khuyến Mãi</a></li>


    <li><a href="http://danangz.com/tin-tuc/sinh-vien-da-nang.html">Bạn Trẻ</a></li>


    <li><a href="http://danangz.com/tin-tuc/doanh-nghiep-da-nang.html">Doanh Nghiệp</a></li>


    <li><a href="http://danangz.com/tin-tuc/viec-lam-da-nang.html">Việc Làm</a></li>


    <li><a href="http://danangz.com/tin-tuc/lich-cup-dien-da-nang.html">Cúp Điện</a></li>

</ul>
