@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/LayoutLogin.cshtml";
}
<div id="menu-top">
    <ul class="topnav">
        <li><a href="#" class="active">Trang Chủ</a></li>
        <li><a href="#">Toàn Cảnh</a></li>
        <li><a href="#">Ẩm Thực</a></li>
        <li><a href="#">Khám Phá</a></li>
        <li><a href="#">An Ninh</a></li>
        <li><a href="#">Sự Kiện</a></li>
        <li><a href="#">Khuyến Mãi</a></li>
        <li><a href="#">Bạn Trẻ</a></li>
        <li><a href="#">Doanh Nghiệp</a></li>
        <li><a href="#">Việc Làm</a></li>
        <li style="border-right: 1px solid #9c9a9a;"><a href="#">Cúp Điện</a></li>
    </ul>
</div>
<div id="body-content">
    <div id="top-content">
        <div id="left-content">
            <div id="main-entry">
                <img style="width: 100%; height: 100%;" src="~/Images/image/duonghoabachdang.jpg" />
                <table style="text-align: left; text-align: justify">
                    <tr>
                        <td>
                            <span style="font-size: 11px;">Tin tức Đà Nẵng ngày 17/01/2015</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="main-entry-title">Rực rỡ đường hoa xuân Bạch Đằng 2015</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size: 13px; color: #000000;">Đường hoa Xuân Bạch Đằng – Đà Nẵng 2015 với chủ đề "Đà Nẵng – Rực rỡ Sắc Xuân" sẽ “mở cửa” đón khách từ ngày 9/2/2015 – 23/2/2015 (tức ngày 21 tháng chạp đến mồng 5 âm lịch).</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="favourite-entry">
                <table style="width: 100%;">
                    <tr>
                        <th style="border: 1px solid #2b579a; height: 25px; font-size: 14px; font-weight: bold; background-color: #2b579a; color: #ffffff">
                            <span>Nên đọc</span>
                        </th>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #2b579a; font-weight: bold;">
                            <table style="width: 100%;">
                                <tr>
                                    <td>
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Chậm lương 15 ngày phải bù thêm tiền cho người lao động</a>
                                    </td>
                                    <td>
                                        <img style="float: right;" src="~/Images/image/money.jpg" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #2b579a; font-weight: bold;">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Cẩn thận với trò bịp tuyển bán hàng cuối năm</a>
                                    </td>
                                    <td>
                                        <img style="float: right;" src="~/Images/image/tuyenbanhang.jpg" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #2b579a; font-weight: bold;">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Đà Nẵng: Hành tỏi trung quốc ngập tràn thị trường</a>
                                    </td>
                                    <td>
                                        <img style="float: right;" src="~/Images/image/hanhtoi.jpg" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #2b579a; font-weight: bold;">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Khám phá chuyên cơ chở ông Nguyễn Bá Thanh về nước</a>
                                    </td>
                                    <td>
                                        <img style="float: right;" src="~/Images/image/chuyenco.jpg" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #2b579a; font-weight: bold;">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Vị trí Đà Nẵng trên bản đồ du lịch quốc gia</a>
                                    </td>
                                    <td>
                                        <img style="float: right;" src="~/Images/image/bandodulich.jpg" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #2b579a; font-weight: bold;">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Thú vui cà phê cóc ở Đà Nẵng</a>
                                    </td>
                                    <td>
                                        <img style="float: right;" src="~/Images/image/caphecoc.jpg" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #2b579a; font-weight: bold;">
                            <table style="width: 100%">
                                <tr>
                                    <td>
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Tiếp tục lật mặt những tên “đầu sỏ” trong Chuyên án T714</a>
                                    </td>
                                    <td>
                                        <img style="float: right;" src="~/Images/image/caphecoc.jpg" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #2b579a; background-color: #2b579a; color: #ffffff; font-weight: bold;">
                            <table style="width: 100%; font-size: 12px;">
                                <tr>
                                    <td>
                                        <span>LH Quảng Cáo: 0935.614.618 (Ms.Oanh)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span>Email: admin@danangz.com</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="sub-entry">
                <table style="width: 100%">
                    <tr style="width: 100%">
                        <td style="width: 50%">
                            <img style="width: 250px; height: 135px;" src="http://danangz.com/_upload/thumb/7faaef192f6e374720cc1d3c24b9908f_w232_h155_sc.jpg" />
                        </td>
                        <td style="width: 50%">
                            <img style="width: 250px; height: 135px;" src="http://danangz.com/_upload/thumb/737f2391ee60987ffdd549e592854701_w232_h155_sc.jpg" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">
                            <a class="sub-entry-title">Đà Nẵng: Bí mật của cô gái làm tóc sống trong khách sạn</a>
                        </td>
                        <td style="text-align: left;">
                            <a class="sub-entry-title">Kết luận vụ nghi can chết treo cổ ở nhà tạm giữ</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="right-content">
            <div id="weather-embed">
                <a href="http://www.accuweather.com/vi/vn/da-nang/352954/weather-forecast/352954" class="aw-widget-legal">
                </a><div id="awcc1421596203517" class="aw-widget-current" data-locationkey="352954" data-unit="c" data-language="vi" data-useip="false" data-uid="awcc1421596203517"></div>
                <script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
            </div>
            <div id="newest-entry">
                <br />
                <span style="color: #2b579a; font-size: 1.5em; font-weight: bold;">Mới nhất</span>
                <table style="width: 100%">
                    <tr>
                        <td style="font-weight: bold;">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 35px;">
                                        <div class="div-number-order-top">
                                            1
                                        </div>
                                    </td>
                                    <td style="text-align: left; border-bottom: 1px dashed #9c9a9a;">
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Triệt xóa nhiều nhóm cướp giật tại Hội An</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35px;">
                                        <div class="div-number-order-top">
                                            2
                                        </div>
                                    </td>
                                    <td style="text-align: left; border-bottom: 1px dashed #9c9a9a;">
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Màn kịch của nữ công nhân vệ sinh</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35px;">
                                        <div class="div-number-order-top">
                                            3
                                        </div>
                                    </td>
                                    <td style="text-align: left; border-bottom: 1px dashed #9c9a9a;">
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Khởi tố đối tượng chuyên cướp giật khách ngoại quốc</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35px;">
                                        <div class="div-number-order-bottom">
                                            4
                                        </div>
                                    </td>
                                    <td style="text-align: left; border-bottom: 1px dashed #9c9a9a;">
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Đại học Duy Tân: Khai mạc Cuộc thi Hackathon App Studio 2015</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35px;">
                                        <div class="div-number-order-bottom">
                                            5
                                        </div>
                                    </td>
                                    <td style="text-align: left">
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Rực rỡ đường hoa xuân Bạch Đằng 2015</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="more-reader">
                <br />
                <span style="color: #2b579a; font-size: 1.5em; font-weight: bold;">Xem nhiều</span>
                <table style="width: 100%">
                    <tr>
                        <td style="border-bottom: 2px solid #2b579a; font-weight: bold;">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 35px;">
                                        <div class="div-number-order-top">
                                            1
                                        </div>
                                    </td>
                                    <td style="text-align: left; border-bottom: 1px dashed #9c9a9a;">
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Đà Nẵng: Bắt cặp vợ chồng hờ buôn hàng trắng</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35px;">
                                        <div class="div-number-order-top">
                                            2
                                        </div>
                                    </td>
                                    <td style="text-align: left; border-bottom: 1px dashed #9c9a9a;">
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Sáng nay ngày 5.1 ông Bá Thanh về Đà Nẵng chữa bệnh</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35px;">
                                        <div class="div-number-order-top">
                                            3
                                        </div>
                                    </td>
                                    <td style="text-align: left; border-bottom: 1px dashed #9c9a9a;">
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Công an viên bị sát hại lúc đang ngủ</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35px;">
                                        <div class="div-number-order-bottom">
                                            4
                                        </div>
                                    </td>
                                    <td style="text-align: left; border-bottom: 1px dashed #9c9a9a;">
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Ông Nguyễn Bá Thanh ăn cơm được, nói chuyện vui vẻ</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35px;">
                                        <div class="div-number-order-bottom">
                                            5
                                        </div>
                                    </td>
                                    <td style="text-align: left;">
                                        <a class="sub-entry-title" style="font-size: 1.2em;">Bắt kẻ chuyên lừa thiếu nữ chụp ảnh sex rồi tống tiền - Kỳ 2</a>
                                    </td>
                                </tr>
                            </table>
                            <br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="bottom-content">
        <br />
        <span style="color: #2b579a; font-size: 1.5em; font-weight: bold;">An ninh</span>
        <table style="width: 100%">
            <tr style="height: 70px">
                <td style="border: 2px solid #2b579a; width: 20%;">
                    <table style="text-align: left;">
                        <tr>
                            <td>
                                <img style="float: right; height: 60px; width: 60px;" src="~/Images/image/thugianmattien.jpg" />
                            </td>
                            <td>
                                <a class="sub-entry-title" style="font-size: 1.2em;">Thư giãn mất tiền triệu ở Hòa Vang</a>
                                <br />
                                <span>120 lượt xem</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="border: 2px solid #2b579a; width: 20%;">
                    <table style="text-align: left;">
                        <tr>
                            <td>
                                <img style="float: right; height: 60px; width: 60px;" src="~/Images/image/trietxoanhieunhomcuopgiat.jpg" />
                            </td>
                            <td>
                                <a class="sub-entry-title" style="font-size: 1.2em;">Triệt xóa nhiều nhóm cướp giật tại Hội An</a>
                                <br />
                                <span>120 lượt xem</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="border: 2px solid #2b579a; width: 20%;">
                    <table style="text-align: left;">
                        <tr>
                            <td>
                                <img style="float: right; height: 60px; width: 60px;" src="~/Images/image/mankichnucongnhan.jpg" />
                            </td>
                            <td>
                                <a class="sub-entry-title" style="font-size: 1.2em;">Màn kịch của nữ công nhân vệ sinh</a>
                                <br />
                                <span>120 lượt xem</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="border: 2px solid #2b579a; width: 20%;">
                    <table style="text-align: left;">
                        <tr>
                            <td>
                                <img style="float: right; height: 60px; width: 60px;" src="~/Images/image/khoitodoituonghchuyencuopgiat.jpg" />
                            </td>
                            <td>
                                <a class="sub-entry-title" style="font-size: 1.2em;">Khởi tố đối tượng chuyên cướp giật khách ngoại quốc</a>
                                <br />
                                <span>120 lượt xem</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="border: 2px solid #2b579a; width: 20%;">
                    <table style="text-align: left;">
                        <tr>
                            <td>
                                <img style="float: right; height: 60px; width: 60px;" src="~/Images/image/bietthukhongphep.jpg" />
                            </td>
                            <td>
                                <a class="sub-entry-title" style="font-size: 1.2em;">Đà Nẵng: Phát hiện thêm một khu biệt thự không phép</a>
                                <br />
                                <span>120 lượt xem</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <span style="color: #2b579a; font-size: 1.5em; font-weight: bold;">Khám phá</span>
        <table style="width: 100%">
            <tr style="height: 70px">
                <td style="border: 2px solid #2b579a; width: 20%;">
                    <table style="text-align: left;">
                        <tr>
                            <td>
                                <img style="float: right; height: 60px; width: 60px;" src="~/Images/image/docdaokientrucdinhlang.JPG" />
                            </td>
                            <td>
                                <a class="sub-entry-title" style="font-size: 1.2em;">Đà Nẵng: Độc đáo kiến trúc đình làng Túy Loan</a>
                                <br />
                                <span>120 lượt xem</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="border: 2px solid #2b579a; width: 20%;">
                    <table style="text-align: left;">
                        <tr>
                            <td>
                                <img style="float: right; height: 60px; width: 60px;" src="~/Images/image/didulichbuidanang.jpg" />
                            </td>
                            <td>
                                <a class="sub-entry-title" style="font-size: 1.2em;">Du lịch bụi 1 ngày ở Đà Nẵng</a>
                                <br />
                                <span>120 lượt xem</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="border: 2px solid #2b579a; width: 20%;">
                    <table style="text-align: left;">
                        <tr>
                            <td>
                                <img style="float: right; height: 60px; width: 60px;" src="~/Images/image/didulichbuihoian.jpg" />
                            </td>
                            <td>
                                <a class="sub-entry-title" style="font-size: 1.2em;">Du lịch bụi 1 ngày ở Hội An</a>
                                <br />
                                <span>120 lượt xem</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="border: 2px solid #2b579a; width: 20%;">
                    <table style="text-align: left;">
                        <tr>
                            <td>
                                <img style="float: right; height: 60px; width: 60px;" src="~/Images/image/chandungthanhphodanang.jpg" />
                            </td>
                            <td>
                                <a class="sub-entry-title" style="font-size: 1.2em;">Chân dung thành phố qua bộ ảnh Đà Nẵng Toàn Cảnh</a>
                                <br />
                                <span>120 lượt xem</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="border: 2px solid #2b579a; width: 20%;">
                    <table style="text-align: left;">
                        <tr>
                            <td>
                                <img style="float: right; height: 60px; width: 60px;" src="~/Images/image/bietthukhongphep.jpg" />
                            </td>
                            <td>
                                <a class="sub-entry-title" style="font-size: 1.2em;">Đà Nẵng: Phát hiện thêm một khu biệt thự không phép</a>
                                <br />
                                <span>120 lượt xem</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
    </div>
    <div id="bottom-content">
        <br />
        <span style="color: #2b579a; font-size: 1.5em; font-weight: bold;">Có thể bạn chưa đọc</span>
        <br />
        <div id="left-content">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 10px">
                        <div class="div-number-order-top-small">
                        </div>
                    </td>
                    <td style="text-align: left; width: 48%; border-bottom: 1px dashed #9c9a9a;">
                        <a class="sub-entry-title" style="font-size: 1.2em;">CT Môi trường Đô thị Đà Nẵng ăn chặn tiền của công nhân? - Kỳ 2</a>
                    </td>
                    <td style="width: 10px">
                        <div class="div-number-order-top-small">
                        </div>
                    </td>
                    <td style="text-align: left; width: 48%; border-bottom: 1px dashed #9c9a9a;">
                        <a class="sub-entry-title" style="font-size: 1.2em;">Rực rỡ đường hoa xuân Bạch Đằng 2015</a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10px">
                        <div class="div-number-order-top-small">
                        </div>
                    </td>
                    <td style="text-align: left; width: 48%; border-bottom: 1px dashed #9c9a9a;">
                        <a class="sub-entry-title" style="font-size: 1.2em;">CT Môi trường Đô thị Đà Nẵng ăn chặn tiền của công nhân?</a>
                    </td>
                    <td style="width: 10px">
                        <div class="div-number-order-top-small">
                        </div>
                    </td>
                    <td style="text-align: left; width: 48%; border-bottom: 1px dashed #9c9a9a;">
                        <a class="sub-entry-title" style="font-size: 1.2em;">Đà Nẵng: Tận dụng đất để trồng hoa tết</a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10px">
                        <div class="div-number-order-top-small">
                        </div>
                    </td>
                    <td style="text-align: left; width: 48%; border-bottom: 1px dashed #9c9a9a;">
                        <a class="sub-entry-title" style="font-size: 1.2em;">2015 - Kỳ vọng khởi sắc của doanh nghiệp ở Đà Nẵng</a>
                    </td>
                    <td style="width: 10px">
                        <div class="div-number-order-top-small">
                        </div>
                    </td>
                    <td style="text-align: left; width: 48%; border-bottom: 1px dashed #9c9a9a;">
                        <a class="sub-entry-title" style="font-size: 1.2em;">Đà Nẵng: Bắt đối tượng dùng súng giả cưỡng đoạt tài sản</a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10px">
                        <div class="div-number-order-top-small">
                        </div>
                    </td>
                    <td style="text-align: left; width: 48%; border-bottom: 1px dashed #9c9a9a;">
                        <a class="sub-entry-title" style="font-size: 1.2em;">Bắt hàng loạt nữ đối tượng cầm đầu đường dây số đề</a>
                    </td>
                    <td style="width: 10px">
                        <div class="div-number-order-top-small">
                        </div>
                    </td>
                    <td style="text-align: left; width: 48%; border-bottom: 1px dashed #9c9a9a;">
                        <a class="sub-entry-title" style="font-size: 1.2em;">Tàu cá bị tàu Trung Quốc đâm có thể vay đến 4.3 tỷ</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="right-content">
            <iframe frameborder="0" scrolling="auto" height="175" width="100%" allowtransparency="true" marginwidth="0" marginheight="0" src="http://fxrates.investing.com/index_exchange.php?params&inner-border-color=%23cccccc&border-color=%232b5799&bg1=%23F6F6F6&bg2=%23ffffff&inner-text-color=%23000000&currency-name-color=%232b5799&header-text-color=%23FFFFFF&header-bg=%232b5799" align="center"></iframe><br /><div style="width:100%"><a href="http://www.investing.com" target="_blank"><img src="http://c1802182.cdn.cloudfiles.rackspacecloud.com/forexpros_en_logo.png" alt="Investing.com" title="Investing.com" style="float:left" /></a><span style="float:right"></span></div>
        </div>
    </div>
</div>
